In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Import pipeline
from transformers import pipeline

### Text Classification

In [3]:
# A default model is used if no specific model is mentioned.
classifier = pipeline("text-classification")

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english)

Downloading:   0%|          | 0.00/629 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/255M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/48.0 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/226k [00:00<?, ?B/s]

In [14]:
# A review for a movie
text1 = "I am reviewing it from a non-Indian (aka non-emotional) perspective: No doubt the movie plot was interesting but I didn't find Mr. NAMBI a hero that the movie potrayed. Of course he was unfairly treated by the system and he deserves a good compensation from the Indian govt and people. Thus, his acclaims are well deserved. Yet, the way the movie claimed that India is the first nation to go to Mars in the first attempt and Mr. NAMBI made it happen were blatant exaggeration. It seems Mr. Nambi is a brilliant scientist who kept looking for stealing ideas, data, and resources. He got everything from other countries and the movie made a big fuss about it by claiming he did it from scratch. The way the movie presented ISRO was saddening. There were other good scientists, including APJ Kamal, there as well but the movie kind of showed everyone incompetent. The movie showed big contracts with foreign countries were already negotiated by Mr. NAMBI while in reality these high level contracts could not be signed or negotiated without high level govt involvement. I think the movie overestimated Mr. Nambi and thus fictionalized many part of it."
print(text1)

I am reviewing it from a non-Indian (aka non-emotional) perspective: No doubt the movie plot was interesting but I didn't find Mr. NAMBI a hero that the movie potrayed. Of course he was unfairly treated by the system and he deserves a good compensation from the Indian govt and people. Thus, his acclaims are well deserved. Yet, the way the movie claimed that India is the first nation to go to Mars in the first attempt and Mr. NAMBI made it happen were blatant exaggeration. It seems Mr. Nambi is a brilliant scientist who kept looking for stealing ideas, data, and resources. He got everything from other countries and the movie made a big fuss about it by claiming he did it from scratch. The way the movie presented ISRO was saddening. There were other good scientists, including APJ Kamal, there as well but the movie kind of showed everyone incompetent. The movie showed big contracts with foreign countries were already negotiated by Mr. NAMBI while in reality these high level contracts could not be signed or negotiated without high level govt involvement. I think the movie overestimated Mr. Nambi and thus fictionalized many part of it.

In [5]:
output = classifier(text1)
pd.DataFrame(output)

      label     score
0  NEGATIVE  0.936303

### Named Entity Recognition

In [6]:
ner = pipeline("ner", aggregation_strategy='simple')
output = ner(text)
pd.DataFrame(output)

No model was supplied, defaulted to dbmdz/bert-large-cased-finetuned-conll03-english (https://huggingface.co/dbmdz/bert-large-cased-finetuned-conll03-english)

Downloading:   0%|          | 0.00/998 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/1.24G [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/60.0 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/208k [00:00<?, ?B/s]

   entity_group     score       word  start   end
0          MISC  0.731648        non     25    28
1          MISC  0.997590     Indian     29    35
2           ORG  0.867549        NAM    131   134
3           PER  0.679311       ##BI    134   136
4          MISC  0.998934     Indian    262   268
5           LOC  0.999683      India    360   365
6           LOC  0.996442       Mars    395   399
7           ORG  0.972968      NAMBI    429   434
8           PER  0.984763      Nambi    490   495
9           ORG  0.998022       ISRO    721   725
10          PER  0.998985  APJ Kamal    785   794
11          ORG  0.985603      NAMBI    946   951
12          PER  0.981720      Nambi   1103  1108

### Question-Answering

In [15]:
text2 = "You’ve heard the chant. You may not have heard of the sport, but you’ve heard the chant. The chant - one that a billion people once lived by; one that would originate from the Wankhede and echo across the city and the seas. It is a name that continues to inspire many, not only in India, but all over the world, to take up the sport. Sachin Ramesh Tendulkar was that cricketer whose personality and aura upstaged any cricketing contest; yet he maintained that he wasn’t greater than than the game. To the people of India, the 5’5” giant of a man was much more than that. He was an emotion; a symbol of hope in a nation that revered him as nothing short of a God."
print(text2)

You’ve heard the chant. You may not have heard of the sport, but you’ve heard the chant. The chant - one that a billion people once lived by; one that would originate from the Wankhede and echo across the city and the seas. It is a name that continues to inspire many, not only in India, but all over the world, to take up the sport. Sachin Ramesh Tendulkar was that cricketer whose personality and aura upstaged any cricketing contest; yet he maintained that he wasn’t greater than than the game. To the people of India, the 5’5” giant of a man was much more than that. He was an emotion; a symbol of hope in a nation that revered him as nothing short of a God.

In [8]:
reader = pipeline("question-answering")
question = "What is Sachin's full name?"
outputs = reader(question=question, context=text2)
pd.DataFrame([outputs])

No model was supplied, defaulted to distilbert-base-cased-distilled-squad (https://huggingface.co/distilbert-base-cased-distilled-squad)

Downloading:   0%|          | 0.00/473 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/249M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/29.0 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/208k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/426k [00:00<?, ?B/s]

     score  start  end            answer
0  0.86122    341  357  Ramesh Tendulkar

In [9]:
question = "What is Sachin's height?"
outputs = reader(question=question, context=text2)
pd.DataFrame([outputs])

      score  start  end answer
0  0.809059    526  529    5’5

In [11]:
question = "What does Sachin represent?"
outputs = reader(question=question, context=text2)
pd.DataFrame([outputs])

      score  start  end answer
0  0.381032    602  606   hope

### Summarization

In [16]:
summarize = pipeline('summarization')
output = summarize(text2, max_length=60, clean_up_tokenization_spaces=True)
print(output[0]['summary_text'])

No model was supplied, defaulted to sshleifer/distilbart-cnn-12-6 (https://huggingface.co/sshleifer/distilbart-cnn-12-6)

 Sachin Ramesh Tendulkar was that cricketer whose personality and aura upstaged any cricketing contest. To the people of India, the 5’5” giant of a man was much more than that. He was an emotion; a symbol of hope

In [17]:
output = summarize(text1, max_length=60, clean_up_tokenization_spaces=True)
print(output[0]['summary_text'])

 I am reviewing it from a non-Indian (aka non-emotional) perspective: No doubt the movie plot was interesting but I didn't find Mr. NAMBI a hero that the movie potrayed. Of course he was unfairly treated by the system and he deserves a

### Text Generation

In [23]:
generator = pipeline('text-generation')
response = "Your movie review is biased because"
prompt = text1 + "\n\nReply:\n" + response

outputs = generator(prompt, max_length=350)
print(outputs[0]['generated_text'])

No model was supplied, defaulted to gpt2 (https://huggingface.co/gpt2)
The attention mask and the pad token id were not set. As a consequence, you may observe unexpected behavior. Please pass your input's `attention_mask` to obtain reliable results.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

I am reviewing it from a non-Indian (aka non-emotional) perspective: No doubt the movie plot was interesting but I didn't find Mr. NAMBI a hero that the movie potrayed. Of course he was unfairly treated by the system and he deserves a good compensation from the Indian govt and people. Thus, his acclaims are well deserved. Yet, the way the movie claimed that India is the first nation to go to Mars in the first attempt and Mr. NAMBI made it happen were blatant exaggeration. It seems Mr. Nambi is a brilliant scientist who kept looking for stealing ideas, data, and resources. He got everything from other countries and the movie made a big fuss about it by claiming he did it from scratch. The way the movie presented ISRO was saddening. There were other good scientists, including APJ Kamal, there as well but the movie kind of showed everyone incompetent. The movie showed big contracts with foreign countries were already negotiated by Mr. NAMBI while in reality these high level contracts could not be signed or negotiated without high level govt involvement. I think the movie overestimated Mr. Nambi and thus fictionalized many part of it.

Reply:
Your movie review is biased because some countries may not want to look at the information in Mr. Nambi's studies and there will be some that do not. (It would be interesting to know how high the official government figure is in India?) You also quoted a number of people in an email that is a lie. But I have done it for you in my reviews only so you can be sure it was not you who was misleading the audiences. The point of this article is